@page
@model LimerickStreetArt.Web.Controllers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StreetArt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetArt.GpsLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetArt.GpsLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetArt.GpsLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetArt.GpsLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetArt.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetArt.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetArt.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetArt.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetArt.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetArt.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetArt.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetArt.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetArt.UserAccountId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetArt.UserAccountId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StreetArt.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
