@page
@model LimerickStreetArt.Web.Controllers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StreetArt[0].GpsLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetArt[0].GpsLongitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetArt[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetArt[0].Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetArt[0].Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetArt[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetArt[0].UserAccountId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StreetArt) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLatitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GpsLongitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAccountId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
