@model LimerickStreetArt.Web.Models.StreetArtModel

@{
    ViewData["Title"] = "StreetArt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StreetArt</h1>

<div>
    <h4>StreetArt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GpsLatitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GpsLatitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GpsLongitude)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GpsLongitude)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Street)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Street)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @* //TODO: Check if null *@
            <img class="img" src="~/images/streetart/@Model.Image" />
        </dd>
        @*<dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserAccountId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserAccountId)
            </dd>*@
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
