@model IEnumerable<LimerickStreetArt.StreetArt>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form method="post" asp-controller="Index" asp-action="ImageUpload" enctype="multipart/form-data">
    <div class="form-group row">
        <label class=" col-sm-2 col-form-label">image</label>
        <div class="col-sm-10">
            <div class="custom-file">
                <input class=" form-control-file-input" type="file" name="file" />
                <label class="custom-file-label">Browse</label>
            </div>
        </div>
        <button type="submit">Upload</button>
    </div>
    <img src="" width="600" height="400" />
</form>
<script type="text/javascript">
    document.ready(function ()
    {
        $(".custom-file-input").on("change", function ()
        {
            var fileName = $(this).val().split("\\").pop();
            $(this).next(".custom-file-label").html(fileName);
        })

    });
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpsLatitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GpsLongitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Timestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAccountId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GpsLatitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GpsLongitude)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Street)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserAccountId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
